/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #240e62;
    height: 60px;
    color: white;
 
    padding: 0.5rem 1rem;
  }
  .logo-bar{
    height: 50px;
    width: 50px;
    border-radius: 10px;
  }
  .navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    gap: 1rem;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #f0a500;
  }
  
  /* Hamburger Menu */
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 0.3rem;
  }
  
  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 3.5rem;
      right: 1rem;
      background-color: #333;
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }
  }
  